body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

p {margin: 0;}

#root{
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navigation{
  margin-bottom: 20px;
}

.wrapper{
  padding: 40px 50px ;
  background-color: rgb(227, 227, 233);
  border-radius: 10px;
  text-align: center;
}

.btn {
  background-color: #46ad40;
  border: none; 
  outline: none;
  padding: 8px 14px;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  transition: all ease 0.2s;
}

.nav-btn{
  background: #cdffc9;
  padding: 8px;
  width: 103px;
  border-radius: 0;
}

.btn-selected {
  background-color: #46ad40;
}

.btn-disabled {
  opacity: 0.2;
}

.invisible {
  display: none !important;
}
h1{
  margin: 0 20px 40px;
}

.field {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

input{
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  border-radius: 3px;
  margin-left: 5px;

}

.control-panel{
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.control-panel-center{
  justify-content: center;
}